* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: 150px;
  overflow-x: hidden;
}

/* Header */
.header {
  background-color:#4caf50;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.nav {
  padding: 10px 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  color: white;
  margin-left: 30px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav-links .active {
  color: #ddff47; /* Highlight active page */
}

.cart-icon {
  background-color: #FFC107;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

/* /////////////////////////////////////////////////////////////////////////////// */


.cart-popup-container {
  position: absolute;
  right: 0;
  top: 130px;
  width: 500px;
  height: 550px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(53, 51, 51);
  background-color: rgb(238, 238, 238);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  /* justify-content: space-between; */
  /* overflow: hidden; */
}

.cart-popup-container.show {
  transform: translateX(0%);
}

.cart-popup-container section {
  border: 1px solid rgb(66, 64, 64);
  color: rgb(0, 0, 0);
  padding: 10px;
}

/* cart-popup */

.cart-items-container {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
}

/* .cart-popup-container .cart-popup  */
.cart-items-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.cart-items-container .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  margin: 0;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.cart-item .item-details-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 5rem;
}

.item-details-container .update-quantity-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-details-container .update-quantity-container .update-quantity-btn {
  text-align: center;
  font-size: larger;
  margin-top: 5px;
  padding: 1px 10px;
  cursor: pointer;
}

.cart-item .item-details-container p {
  margin: 3px;
  font-size: 19px;
}

.item-quantity-container span{
  font-size: 19px;
}

/* .cart-items-container .cart-item div{
  border: 1px solid royalblue;
} */

.cart-item .item-img-container img {
  width: 100px;
}

/* /////////////////////////////////////////////////////// */

/* cart-popup-container-footer */

.cart-popup-container .cart-footer {
  height: 35%;
  text-align: center;
  padding-bottom: 12rem;
}

.cart-footer .subtotal-container {
  font-size: 20px;
  margin-top: 10px;
  margin-left: -20rem;
}

.cart-footer .checkout-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: bold;
  background-color: #ffc107;
  color: white;
}

.cart-footer .cart-note-container p {
  margin: 0;
  font-size: medium;
}

/* //////////////////////////////////////////////////// */

.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.order-header {
  background-color: rgb(240, 242, 242);
  border: 1px solid rgb(213, 217, 217);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.order-header-left-section {
  display: flex;
  flex-shrink: 0;
}

.order-header-label {
  font-weight: 500;
}

.order-date,
.order-total {
  margin-right: 45px;
}

.order-header-right-section {
  flex-shrink: 1;
}

@media (max-width: 575px) {
  .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .order-header-left-section {
    flex-direction: column;
  }

  .order-header-label {
    margin-right: 5px;
  }

  .order-date,
  .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: grid;
  grid-template-columns: 110px 1fr 220px;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}

@media (max-width: 800px) {
  .order-details-grid {
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px) {
  .order-details-grid {
    grid-template-columns: 1fr;
  }
}

.product-image-container {
  text-align: center;
}

.product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

.product-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.product-delivery-date {
  margin-bottom: 3px;
}

.product-quantity {
  margin-bottom: 8px;
}

.buy-again-button {
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 36px;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buy-again-icon {
  width: 25px;
  margin-right: 15px;
}

.product-actions {
  align-self: start;
}

.track-package-button {
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
}

@media (max-width: 800px) {
  .buy-again-button {
    margin-bottom: 10px;
  }

  .product-actions {
    /* grid-column: 2 means this element will be placed
       in column 2 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering). */
    grid-column: 2;
    margin-bottom: 30px;
  }

  .track-package-button {
    width: 140px;
  }
}

@media (max-width: 450px) {
  .product-image-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .product-image-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .product-quantity {
    margin-bottom: 15px;
  }

  .buy-again-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-actions {
    /* grid-column: auto; undos grid-column: 2; from above.
       This element will now be placed in its normal column
       in the grid. */
    grid-column: auto;
    margin-bottom: 70px;
  }

  .track-package-button {
    width: 100%;
    padding: 12px;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Footer */
footer {
  background-color: #4caf50;
  color: #fff;
  padding: 25px;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  height: 230px;
  margin-top: 30px;
  justify-content: space-between;

}

.footer-section {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section input[type="email"] {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.footer-section button {
  padding: 8px 25px;
  background-color:rgb(219, 197, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: medium;
  cursor: pointer;
}

.footer-section button:hover {
  background-color: #777;
}

/* Payment Methods */
.payment-methods {
  text-align: center;
}

.payment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.payment-icons img {
  width: 50px;
  height: auto;
  filter: brightness(0) invert(1); /* Makes icons white for a dark footer */
}

.payment-icons img:hover {
  filter: brightness(1); /* Shows original color on hover */
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .payment-icons {
    justify-content: center;
  }
}